.center {
    text-align: center;
}

.site-nav {
    z-index: 100;
}

.text-sm {
    font-size: 12px;
}

.spacer {
    height: 20px;
}

.home-featured {
    margin: 0 auto;
    text-align: center;
    max-width: 760px;
}
